<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<html>
    <h1>{{title}}</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="fixedElement">
                    <app-search></app-search>
                </div>
            </div>
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</html>