<mat-progress-spinner
    *ngIf="!loaded"
    class="spinner"
    mode="indeterminate">
</mat-progress-spinner>

<div class="table" [hidden]="!loaded">
    <mat-table #table [dataSource]="dataSource" [class.not-mobile]="!isMobile">

        <!-- Heroes Column -->
        <ng-container matColumnDef="heroes">
        <mat-header-cell *matHeaderCellDef> Heroes </mat-header-cell>
        <mat-cell *matCellDef="let game">
            <div class="row no-gutters hero-row">
                <div class="col" *ngFor="let hero of game.radiant_team">
                    <img src="assets/img/heroes/{{ heroes[hero].name.slice(14) }}.png" 
                    title="{{ heroes[hero].localized_name }}" style="vertical-align:middle;" height="30">
                </div>
            </div>
            <div class="row no-gutters hero-row">
                <div class="col" *ngFor="let hero of game.dire_team">
                    <img src="assets/img/heroes/{{ heroes[hero].name.slice(14) }}.png" 
                    title="{{ heroes[hero].localized_name }}" style="vertical-align:middle;" height="30">
                </div>
            </div>
        </mat-cell>
        </ng-container>
    
        <!-- MMR Column -->
        <ng-container matColumnDef="mmr">
        <mat-header-cell *matHeaderCellDef> Average MMR </mat-header-cell>
        <mat-cell *matCellDef="let game"> {{game.avg_mmr}} </mat-cell>
        </ng-container>
    
        <!-- Result Column -->
        <ng-container matColumnDef="result">
        <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
        <mat-cell *matCellDef="let game">
            {{ game.radiant_win ? 'Radiant Victory' : 'Dire Victory' }}
        </mat-cell>
        </ng-container>
    
        <!-- Start Time Column -->
        <ng-container matColumnDef="start">
        <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
        <mat-cell *matCellDef="let game"> {{game.start_time * 1000 | date: 'medium'}} </mat-cell>
        </ng-container>
    
        <!-- Replay Column -->
        <ng-container matColumnDef="replay">
        <mat-header-cell *matHeaderCellDef> Replays </mat-header-cell>
        <mat-cell *matCellDef="let game"> 
            <a href="https://www.dotabuff.com/matches/{{ game.match_id }}" target="_blank">
                Dotabuff
            </a>
            <br>
            <a href="https://www.opendota.com/matches/{{ game.match_id }}" target="_blank">
                OpenDotA
            </a>
        </mat-cell>
        </ng-container>

        <!-- Favorite Column -->
        <ng-container matColumnDef="favorite">
            <mat-header-cell *matHeaderCellDef> Add to Favorites </mat-header-cell>
            <mat-cell *matCellDef="let game"> 
                <mat-checkbox
                    class="checkbox"
                    id="{{game._id}}"
                    [checked]="!!favorites.get(game._id)"
                    (change)="onCheck(game._id, $event)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        
        <!-- Mobile Only Column -->
        <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef style="display: none;">Mobile</mat-header-cell>
        <mat-cell *matCellDef="let game">
            <div class="container">
            <div class="row justify-content-center">
            <div class="col-auto">
                <div class="row no-gutters hero-row">
                    <div class="col" *ngFor="let hero of game.radiant_team">
                        <img src="assets/img/heroes/{{ heroes[hero].name.slice(14) }}.png" 
                        title="{{ heroes[hero].localized_name }}" style="vertical-align:middle;" height="30">
                    </div>
                </div>
                <div class="row no-gutters bottom-row hero-row">
                    <div class="col" *ngFor="let hero of game.dire_team">
                        <img src="assets/img/heroes/{{ heroes[hero].name.slice(14) }}.png" 
                        title="{{ heroes[hero].localized_name }}" style="vertical-align:middle;" height="30">
                    </div>
                </div>
                Average MMR: {{game.avg_mmr}}<br>
                {{ game.radiant_win ? 'Radiant Victory' : 'Dire Victory' }}<br>
                {{game.start_time * 1000 | date: 'medium'}}<br>
            </div>
            <div class="col-auto vertical-align">
                <div>
                <div class="row justify-content-center">
                    <mat-checkbox
                        class="checkbox"
                        id="{{game._id}}"
                        [checked]="!!favorites.get(game._id)"
                        (change)="onCheck(game._id, $event)">
                        Favorite
                    </mat-checkbox>
                </div>
                <div class="row justify-content-center">
                    <a href="https://www.dotabuff.com/matches/{{ game.match_id }}" 
                        target="_blank" aria-label="Dotabuff" class="icon">
                        <img src="assets/img/icons/dotabuff.png" height=35 title="Dotabuff">
                    </a>
                    <a href="https://www.opendota.com/matches/{{ game.match_id }}" 
                        target="_blank" aria-label="OpenDota" class="icon">
                        <img src="assets/img/icons/opendota.jpg" height=35 title="OpenDota">
                    </a>
                </div>
                </div>
            </div>
            </div>
            </div>
        </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    
    <mat-paginator #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    [showFirstLastButtons]="true"
                    [class.not-mobile]="!isMobile">
    </mat-paginator>
</div>