mat-table, mat-paginator {
    background: #202020;
    max-width: 1200px;
    min-width: 920px;
    margin: auto;
}

mat-row {
    padding-top: 24px;
    padding-bottom: 24px;
}

mat-header-cell, mat-cell {
    padding-right: 15px;
    text-align: center;
}

.mat-column-mmr {
    flex: 0 0 10%;
}

.mat-column-start {
    flex: 0 0 20%;
}

.mat-column-heroes {
    min-width: 300px;
}

.mat-column-favorites {
    max-width: 100px;
}

.row {
    width: 280px;
    margin: auto;
}