<form class="search-form">

  <mat-form-field class="field-full-width">
    <input #hero type="text" spellcheck="false" placeholder="Choose a Hero" aria-label="Hero" matInput [formControl]="heroControl" [matAutocomplete]="autoHero">
    <mat-autocomplete #autoHero="matAutocomplete" [displayWith]="displayFn" [autoActiveFirstOption]="true" (optionSelected)="enableOpponent()">
      <mat-option *ngFor="let option of filteredHeroes | async" [value]="option">
        <img style="vertical-align:middle;" aria-hidden src="assets/img/heroes/{{ option.name.slice(14) }}.png" height="25" />
        <span>{{ option.localized_name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="field-full-width">
    <input #opponent type="text" spellcheck="false" placeholder="Choose an Opponent" aria-label="Opponent" matInput [formControl]="opponentControl" [matAutocomplete]="autoOpponent">
    <mat-autocomplete #autoOpponent="matAutocomplete" [displayWith]="displayFn" [autoActiveFirstOption]="true">
      <mat-option *ngFor="let option of filteredOpponents | async" [value]="option">
        <img style="vertical-align:middle;" aria-hidden src="assets/img/heroes/{{ option.name.slice(14) }}.png" height="25" />
        <span>{{ option.localized_name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <section class="checkbox-section">
    <mat-checkbox class="checkbox" name="loss" [(ngModel)]="loss">Show Losses</mat-checkbox>
  </section>

  <mat-form-field class="field-full-width" [floatLabel]="float">
    <mat-label>Side</mat-label>
    <mat-select placeholder="Both Sides" name="side" [(ngModel)]="side">
      <mat-option>Both Sides</mat-option>
      <mat-option *ngFor="let side of sides" [value]="side.value">
        {{ side.view }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="searchDisabled()" (click)="search()">Search</button>
</form>
