button {
  width: 100%;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  margin: 20px;
}

.field-full-width {
  width: 100%;
}

.checkbox-section {
  text-align: center;
}

.spinner {
  margin: auto;
}