mat-table, mat-paginator {
    background: #202020;
    margin: auto;
}

.not-mobile {
    max-width: 1200px;
    min-width: 920px;
}

mat-row {
    padding-top: 24px;
    padding-bottom: 24px;
}

mat-header-cell, mat-cell {
    padding-right: 15px;
    text-align: center;
}

.mat-column-mmr {
    flex: 0 0 10%;
}

.mat-column-start {
    flex: 0 0 20%;
}

.mat-column-heroes {
    min-width: 300px;
}

.mat-column-delete {
    max-width: 100px;
}

.mat-column-mobile {
    line-height: 1.6;
}

.hero-row {
    width: 280px;
    margin: auto;
}

.bottom-row {
    margin-bottom: 5px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.icon {
    margin: 5px;
}

.mat-fab {
    margin: 10px;
}

.spinner {
    margin: auto;
}