<div class="table">
  <mat-table #table [dataSource]="dataSource">
  
      <!-- Heroes Column -->
      <ng-container matColumnDef="heroes">
      <mat-header-cell *matHeaderCellDef> Heroes </mat-header-cell>
      <mat-cell *matCellDef="let favorite">
          <div class="row no-gutters">
              <div class="col" *ngFor="let hero of favorite.game_id.radiant_team">
                  <img src="assets/img/heroes/{{ heroes[hero].name.slice(14) }}.png" 
                  title="{{ heroes[hero].localized_name }}" style="vertical-align:middle;" height="30">
              </div>
          </div>
          <div class="row no-gutters">
              <div class="col" *ngFor="let hero of favorite.game_id.dire_team">
                  <img src="assets/img/heroes/{{ heroes[hero].name.slice(14) }}.png" 
                  title="{{ heroes[hero].localized_name }}" style="vertical-align:middle;" height="30">
              </div>
          </div>
      </mat-cell>
      </ng-container>
  
      <!-- MMR Column -->
      <ng-container matColumnDef="mmr">
      <mat-header-cell *matHeaderCellDef> Average MMR </mat-header-cell>
      <mat-cell *matCellDef="let favorite"> {{favorite.game_id.avg_mmr}} </mat-cell>
      </ng-container>
  
      <!-- Result Column -->
      <ng-container matColumnDef="result">
      <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
      <mat-cell *matCellDef="let favorite">
          {{ favorite.game_id.radiant_win ? 'Radiant Victory' : 'Dire Victory' }}
      </mat-cell>
      </ng-container>
  
      <!-- Start Time Column -->
      <ng-container matColumnDef="start">
      <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
      <mat-cell *matCellDef="let favorite"> {{favorite.game_id.start_time * 1000 | date: 'medium'}} </mat-cell>
      </ng-container>
  
      <!-- Replay Column -->
      <ng-container matColumnDef="replay">
      <mat-header-cell *matHeaderCellDef> Replays </mat-header-cell>
      <mat-cell *matCellDef="let favorite"> 
          <a href="https://www.dotabuff.com/matches/{{ favorite.game_id.match_id }}" target="_blank">
              Dotabuff
          </a>
      </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator #paginator
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 20]"
                  [showFirstLastButtons]="true">
  </mat-paginator>
</div>