<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome to the DotA Match-Up Finder</h1>
    <p class="lead">DotA Match-Up Finder is a way to find high level public matches played with a specific hero match up. 
      Find out how high level players deal with unfavorable match ups.
    </p>
    <p class="lead">To get started, click the search icon on the top left. Or click the sign up 
      button on the top right to save games you find to your favorites.
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>This page uses the cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>