.form-register {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.field-full-width {
    width: 100%;
}
  
button {
    width: 100%;
}

.alert {
    padding: 0;
    margin: 0;
    border: 0;
    height: 24px;
}

.text-danger {
    margin: 0;
}